<form [formGroup]="form" (ngSubmit)="mentes()" >
  
  <mat-vertical-stepper [linear]="isLinear"  #myForm>

    <mat-step [stepControl]="form">
      <form [formGroup]="form">
        <ng-template matStepLabel>Addja meg a nevet</ng-template>
        <mat-form-field>
          <mat-label>Név</mat-label>
          <div formGroupName="subject">
          <input matInput placeholder="Pl: Példa Péter" formControlName="display" required>
        </div>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Következő</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="form">
      <form [formGroup]="form">
        <ng-template matStepLabel>Addja meg a állapotot</ng-template>
        <mat-form-field> 
            <mat-select [(ngModel)]="selectedValue" formControlName="status">
                <mat-option *ngFor="let elem of stat" [value]="elem.value" required>
                  {{elem.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Köbetkező</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="form">
        <form [formGroup]="form">
          <ng-template matStepLabel>Addjon leírást (nem kötelező)</ng-template>
            <textarea matInput
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5">
          </textarea>
          <div>
            <button mat-button matStepperNext>Köbetkező</button>
          </div>
        </form>
      </mat-step>
    <mat-step>
      <ng-template matStepLabel>Save</ng-template>
      <div>
        <button mat-button type="submit">Mentés</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
  </form>